$def with (suma)

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container col-md-4 offset-md-4">
        <h2 class="text-center">Resultado:</h2>
        <p class="text-center"> $suma </p>
        <a class="text-center" href="/">Volver</a>
    </div>
</body>

</html>